header{
  height: ;
}
.theme{
  height: 80px;
  background-color: #FFFF88
}
.theme h1{
  margin:0;
  line-height: 80px;
  padding-left:20px;
  font-size: 30px;
}

.container{
  padding-left: 20px;
}
.container li{
  list-style: none;
  font-size:25px;
  margin-left: -20px;
}
.container img{
  height:390px;
  float: left;
  margin-bottom: 40px;
  width:64%;
}
.all-box{
  position: fixed;
  right: 10px;
  z-index: 10;
  opacity: 0.7;
  width:29%;
  height: ;
  border: 4px solid #EEE;
}
.all-box p{
  font-size:20px;
  padding: 3px 0 0 3px;
}
.side-box{
  background-color: #DDFFFF;
  padding-bottom: 40px;
  margin-top: -18px;
}
.inside-box{
  background-color: #E6FFE9;
  padding-bottom: 10px;
  margin-top: -18px;
}

.inside-box li,.side-box li{
  cursor: pointer;
}
.inside-box li:hover,.side-box li:hover{
  color:#3366FF
}
.container-item {
  width:67%;
  background-color: #EEE;
  padding-bottom: 20px;
  margin-top: 15px;
  clear: both;
}
.container-item h1{
  padding:10px 0 0 10px;
}
.container-item li{
  border-bottom: solid 1px blue;
  width:500px;
}
.whole{
  padding-left: 10px;
  width:67%;
  margin-bottom: 50px;
}
.whole p{
  font-size:20px;
}
.whole h1{
  margin-bottom:-12px;
}
.job-detail,.income,.skill,.worker{
  margin-top:40px;
}
footer{
  margin-bottom:60px;
}
footer p{
  border-top: 1px solid #EEE;
}
